@import "./../styles/variables.css";

$iconSize: 70px;

.gridList {
    display: flex;
    flex-direction: column;
}

.gridRow {
    display: flex;
    flex-direction: row;
    align-items: center;

    border-bottom: 1px solid $grey-20;
    padding: 15px;
    cursor: pointer;

    &:first-child {
        border-top: 1px solid $grey-20;
    }
}

.appIcon {
    flex-shrink: 0;

    width: $iconSize;
    height: $iconSize;
    border-radius: $iconSize;
    overflow: hidden;
    border: 1px solid $grey-20;
    margin-right: 30px;

    img {
        width: $iconSize;
        height: $iconSize;
    }
}

.appDescription {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .appName {
        font-weight: bold;
        margin-bottom: 5px;
    }

    .appDate {
        color: $grey-40;
        font-size: 0.8em;
    }
}

.arrowContainer {
}
